{% extends 'base.html.twig' %}
{% block head %}

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="Jekyll v3.8.5" name="generator">

{% endblock %}

{% block stylesheets %}
    <link href="stylesheets/base.css" rel="stylesheet">
    <link href="stylesheets/aeroport.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="text-center">
        <div class="p-lg-5">
            <img class="img-top-body" src="images/airport-logo.png">
        </div>

        <a class="mt-3" href="/horairesTarifs">Consultez les horaires et les tarifs
            <i class="far fa-clock fa-lg"></i>
        </a>

        <div class="col-md-8 mx-auto mt-3">
            <h1>Faites votre réservation</h1>
            <hr class="py-3">

            <div class="d-flex justify-content-around">
                <div class="form-check">
                    <input class="form-check-input" id="CheckAllerSimple" name="exampleRadios" onclick="AllerRetour()" type="radio" value="">

                    <label class="form-check-label" for=""></label>
                    <p>
                        <strong>Aller simple</strong>
                        <i class=" ml-3 fas fa-arrow-right"></i>
                    </p>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="CheckAllerRetour" name="exampleRadios" onclick="AllerRetour()" type="radio" value="">
                    <label class="form-check-label" for=""></label>
                    <p>
                        <strong>Aller / retour
                        </strong>
                        <i class="ml-3 fas fa-arrows-alt-h"></i>
                    </p>
                </div>
            </div>

            {# .......................................................................Form1................................................................... #}
            <div id="FormAllerSimple" style="display: none;">
                <form class="needs-validation" name="formReservation" method="get" action="{{ path('reservationAller')}}" novalidate>
                    <div
                        class="d-flex justify-content-center">
                        {# ...................................lieux Départ...........................  #}
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="">Départ</label>
                                <select class="form-control" id="depart" name="depart_aller" onchange="AfficherLesBoutonsHoraires()" style="text-align:center;">

                                    <option value="li">Lieux de départ</option>
                                    {% for ville in lieux %}
                                        <option name="FormulaireDepart" value={{ville.id}}>{{ville.lieux}}</option>
                                    {% endfor %}

                                </select>
                                <div id="contentJS"></div>
                                <div class="invalid-feedback">
                                    Please choose a number.
                                </div>
                            </div>
                        </div>
                        {# ...................................Fin...........................  #}
                        {# ...................................lieux Destination...........................  #}
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="">Destination</label>
                                <select class="form-control" name="destination_aller" required>
                                    <option value="">Lieux de destination</option>
                                    {% for ville in lieux %}
                                        <option name="FormulaireDepart" value={{ville.id}}>{{ville.lieux}}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    Please choose a number.
                                </div>
                            </div>
                        </div>
                    </div>
                    {# ...................................Fin...........................  #}


                    <hr>

                        <div></div>

                        <div class="d-flex justify-content-center">

                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="">Point de prise</label>
                                    <select class="form-control" id="pdp" name="pdp_aller" onchange="Domicile()">
                                        <option value="">Choisissez un endroit</option>
                                        <option value="Gare central">Gare central</option>
                                        <option value="Palais des droits de l'Homme">Palais des droits de l'Homme</option>
                                        <option value="Hotel Hilton">Hotel Hilton</option>
                                        <option value="Domicile">Domicile</option>
                                    </select>
                                </div>
                            </div>

                            <div class="invalid-feedback">
                                Please choose a number.
                            </div>


                        </div>
                        <div class="d-flex justify-content-center">


                            <div class="col-md-6 mb-3" id="domicile" style="display: none;">

                                <label for="firstName">Adresse</label>
                                <input class="form-control" name="adresse_aller" placeholder="Adresse ..." type="text">
                                <label class="mt-3" for="firstName">Code Postal</label>
                                <input class="form-control" name="cp_aller" placeholder="Code postal ..." type="text">
                                <label class="mt-3" for="firstName">Ville</label>
                                <input class="form-control" name="ville_aller" placeholder="Ville ..." type="text">
                                <label class="mt-3" for="firstName">Pays</label>
                                <select class="form-control" name="pays_aller_simple">
                                    <option value="">Pays.......</option>
                                    <option value="France">France</option>
                                    <option value="Allemagne">Allemagne</option>
                                    <option value="Suisse">Suisse</option>
                                </select>

                            </div>
                        </div>

                        <div class="d-flex justify-content-center">

                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="">Nombre de Passager</label>
                                    <input class="form-control" name="nb_passager_aller" placeholder="Nombre de passagger ..." type="number">
                                </div>
                            </div>

                            <div class="invalid-feedback">
                                Please choose a number.
                            </div>

                        </div>

                        <div class="d-flex justify-content-center">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="">Date de départ</label>
                                    <input class="form-control" name="date_depart_aller" required type="date">
                                </div>
                                <div class="invalid-feedback">
                                    Please choose a number.
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around">
                            <div class="row">
                                <div class="form-check col-md-6 mb-3 ">


                                    <input class="form-check-input" disabled id="CheckHeurFixe" name="exampleRadios" onchange="HeuresFixesPerso()" type="radio" value="CheckHeurFixe">


                                    <label class="form-check-label" for=""></label>
                                    <p>
                                        <strong>Horaires fixées par la société</strong>


                                    </p>
                                </div>

                                <div class="form-check col-md-6 mb-3">

                                    <input class="form-check-input" disabled id="CheckHeurPerso" name="exampleRadios" onchange="HeuresFixesPerso()" type="radio" value="CheckHeurPerso">

                                    <label class="form-check-label" for=""></label>
                                    <p>
                                        <strong>Horaires personnalisées</strong>

                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <div class="col-md-6 mb-3">


                                <div class="form-group" id="FormHeurFixes" style="display:none;">
                                    <label for="">Horaires fixées par la société</label>
                                    <select class="form-control" id="horaire_fixe_val" name="horaire_depart_aller_fixe" type="string">

                                        <option id="horaireDinamique" value="">HEURE</option>

                                        {% for ville in tableheure[38]["hiver"] %}
                                            <option value={{ville}}>{{ville}}</option>
                                        {% endfor %}


                                    </select>

                                </div>
                                <div class="form-group" id="FormHeurPerso" style="display:none;">


                                    <label for="">Horaires personnalisées</label>

                                    <input class="form-control" id="horaire_Perso_val" name="horaire_depart_aller" placeholder="Nombre de passagger ...">

                                    <div class="invalid-feedback">
                                        Please choose a number.
                                    </div>

                                </div>


                                <div class="invalid-feedback">
                                    Please choose a number.
                                </div>
                            </div>
                        </div>


                        {# <div class="d-flex justify-content-center">
                                                                                                    <div class="col-md-6 mb-3">
                                                                                                        <div class="form-group" id="pointDePrise" style="display: none;">
                                                                                                            <label for="">Point de prise</label>
                                                                                                            <select class="form-control" id="pdp" name="pdp_aller" onclick="Domicile()">
                                                                                                                <option value="Gare central">Gare central</option>
                                                                                                                <option value="Palais des droits de l'Homme">Palais des droits de l'Homme</option>
                                                                                                                <option value="Hotel Hilton">Hotel Hilton</option>
                                                                                                                <option value="Domicile">Domicile</option>
                                                                                                            </select>
                                                                                                        </div>
                                                                                                        <div class="invalid-feedback">
                                                                                                            Please choose a number.
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div> #}


                        {# <div class="d-flex justify-content-center">
                                                                        
                                                                        
                                                                                                    <div class="col-md-6 mb-3" id="domicile" style="display: none;">
                                                                        
                                                                                                        <label for="firstName">Adresse</label>
                                                                                                        <input class="form-control" name="adresse_aller" placeholder="Adresse ..." type="text">
                                                                                                        <label class="mt-3" for="firstName">Code Postal</label>
                                                                                                        <input class="form-control" name="cp_aller" placeholder="Code postal ..." type="text">
                                                                                                        <label class="mt-3" for="firstName">Ville</label>
                                                                                                        <input class="form-control" name="ville_aller" placeholder="Ville ..." type="text">
                                                                                                        <label class="mt-3" for="firstName">Pays</label>
                                                                                                        <select class="form-control" name="pays_aller">
                                                                                                            <option value="France">France</option>
                                                                                                            <option value="Allemagne">Allemagne</option>
                                                                                                            <option value="Suisse">Suisse</option>
                                                                                                            <option value="4">4</option>
                                                                                                            <option value="5">5</option>
                                                                                                            <option value="6">6</option>
                                                                                                            <option value="7">7</option>
                                                                                                            <option value="8">8</option>
                                                                                                        </select>
                                                                        
                                                                                                    </div>
                                                                                                </div> #}

                        <div class="d-flex justify-content-center">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="firstName">Commentaire</label>
                                    <input class="form-control" name="commentaire_aller" placeholder="Commentaire ..." type="text">
                                </div>
                            </div>
                        </div>
                        {% if app.user %}
                            <button class="btn btn-yellow" type="submit">Réserver !</button>
                        {% else %}
                            <button class="btn btn-yellow" disabled type="submit">Réserver !</button>
                        {% endif %}
                    </form>
                </div>
                {# ..................................................................................form1 fin............................................................................................... #}
                <div id="FormAllerRetour" style="display: none;">
                    <form class="needs-validation" method="get" action="{{ path('reservation')}}" novalidate>

                        <div class="d-flex justify-content-center">
                            <div class="col-6 mb-3">
                                <div>
                                    <label for="">Départ</label>
                                    <select class="form-control" name="depart" onclick="PointdePrise2()" style="text-align:center;">

                                        <option value="li">Lieux de départ</option>
                                        {% for ville in lieux %}
                                            <option name="FormulaireDepart" value={{ville.id}}>{{ville.lieux}}</option>
                                        {% endfor %}

                                    </select>
                                </select>
                                <div class="invalid-feedback">
                                    Please choose a number.
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div>
                                <label for="">Destination</label>
                                <select class="form-control" name="destination" required>
                                    {% for ville in lieux %}
                                        <option name="FormulaireDepart" value={{ville.id}}>{{ville.lieux}}</option>
                                    {% endfor %}

                                </select>
                                <div class="invalid-feedback">
                                    Please choose a number.
                                </div>
                            </div>
                        </div>
                    </div>

                    {# ------------------------------------------------------------------------------------------------------------------------------------------- #}
                    <hr>
                        <div></div>
                        <div class="d-flex justify-content-center">
                            <div class="col-md-4 mb-3">

                                <div class="form-group">
                                    <label for="">Nombre de Passager</label>
                                    <input class="form-control" name="nb_passager_1" placeholder="Nombre de passagger ..." type="number">

                                    <div class="invalid-feedback">
                                        Please choose a number.
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-vertical">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Nombre de Passager</label>
                                    <input class="form-control" name="nb_passager_2" placeholder="Nombre de passagger ..." type="number">
                                    <div class="invalid-feedback">
                                        Please choose a number.
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# ------------------------------------------------------------------------------------------------------------------------------------------- #}

                        <div class="d-flex justify-content-center">
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label for="">Date de départ</label>
                                    <input class="form-control" name="date_depart" required type="date">
                                </div>
                                <div class="invalid-feedback">
                                    Please choose a number.
                                </div>
                            </div>
                            <hr class="hr-vertical" style="height: 260px;">
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label for="">Date de retour</label>
                                    <input class="form-control" name="date_retour" required type="date">
                                </div>
                                <div class="invalid-feedback">
                                    Please choose a number.
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label for="">Horaires de départ fixées par la société</label>
                                    <select class="form-control" name="horaire_depart">
                                        <option value="1">HEURE</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                    </select>
                                </div>
                                <div class="invalid-feedback">
                                    Please choose a number.
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label for="">Horaires de retour fixées par la société</label>
                                    <select class="form-control" name="horaire_retour">
                                        <option value="1">HEURE</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                    </select>
                                </div>
                                <div class="invalid-feedback">
                                    Please choose a number.
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center row">

                            <div class="col-md-4">

                                <div class="c">
                                    <div class="form-group" id="pointDePrise2-allez" style="display: block;">
                                        <label for="">Point de prise</label>
                                        <select class="form-control" id="pdp2-allez" name="pdp-allez" onclick="DomicileAllerRetour()">
                                            <option value="Gare central">Gare central</option>
                                            <option value="Palais des droits de l'Homme">Palais des droits de l'Homme</option>
                                            <option value="Hotel Hilton">Hotel Hilton</option>
                                            <option value="Domicile">Domicile</option>
                                        </select>
                                    </div>
                                    <div class="invalid-feedback">
                                        Please choose a number.
                                    </div>
                                </div>

                                <div class="" id="domicile2-allez" style="display:none;">

                                    <label for="firstName">Adresse</label>
                                    <input class="form-control" name="adresse" placeholder="Adresse..." type="text">
                                    <label class="mt-3" for="firstName">Code Postal</label>
                                    <input class="form-control" name="cp" placeholder="Ville..." type="text">
                                    <label class="mt-3" for="firstName">Ville</label>
                                    <input class="form-control" name="ville" placeholder="Pays..." type="text">
                                    <label class="mt-3" for="firstName">Pays</label>
                                    <select class="form-control" name="pays">
                                        <option value="France">France</option>
                                        <option value="Allemagne">Allemagne</option>
                                        <option value="Suisse">Suisse</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                    </select>

                                </div>
                            </div>
                            <hr class="hr-vertical" id="ligne" style="height: 400px; display:none;">
                            <div class="col-md-4">

                                <div class="">
                                    <div class="form-group" id="pointDePrise2-retour" style="display: block;">
                                        <label for="">Point de prise</label>
                                        <select class="form-control" id="pdp2" name="pdp" onclick="DomicileAllerRetour1()">
                                            <option value="Gare central">Gare central</option>
                                            <option value="Palais des droits de l'Homme">Palais des droits de l'Homme</option>
                                            <option value="Hotel Hilton">Hotel Hilton</option>
                                            <option value="Domicile">Domicile</option>
                                        </select>
                                    </div>
                                    <div class="invalid-feedback">
                                        Please choose a number.
                                    </div>
                                </div>

                                <div class="" id="domicile2-retour" style="display: none;">

                                    <label for="firstName">Adresse</label>
                                    <input class="form-control" name="adresse" placeholder="Adresse..." type="text">
                                    <label class="mt-3" for="firstName">Code Postal</label>
                                    <input class="form-control" name="cp" placeholder="Ville..." type="text">
                                    <label class="mt-3" for="firstName">Ville</label>
                                    <input class="form-control" name="ville" placeholder="Pays..." type="text">
                                    <label class="mt-3" for="firstName">Pays</label>
                                    <select class="form-control" name="pays">
                                        <option value="France">France</option>
                                        <option value="Allemagne">Allemagne</option>
                                        <option value="Suisse">Suisse</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                    </select>

                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="firstName">Commentaire</label>
                                    <input class="form-control" name="commentaire" placeholder="Commentaire ..." type="text">
                                </div>
                            </div>
                        </div>

                        {% if app.user %}
                            <button class="btn btn-yellow" type="submit">Réserver !</button>
                        {% else %}
                            <button class="btn btn-yellow" disabled type="submit">Réserver !</button>
                        {% endif %}

                    </form>
                </div>
            </div>

            <script>

                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function () {
                    'use strict';
                    window.addEventListener('load', function () { // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function (form) {
                            form.addEventListener('submit', function (event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                    }, false);
                })();
            </script>
        </div>


    {% endblock %}

    {% block javascripts %}

        <script src="javascript/reservationAeroport.js"></script>
        <script src="javascript/fonctionsjquery.js" type="text/javascript"></script>


    {% endblock %}

