<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">

        <title></title>

        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

        <link href="https://bootswatch.com/4/flatly/bootstrap.min.css" rel="stylesheet">

    </head>
    <body style="padding-left:30px; padding-right:30px; ">

        <table style="margin-bottom:30px;" width="100%">
            <tr>
                <td align="left">
                    <div>Alsace navette</div>
                    <div>2, Rue du Coq</div>
                    <div>67000 Strasbourg</div>
                    <div>Tel : 03.88.22.22.71</div>
                    <div>En cas d'urgence : 06.27.18.12.52</div>

                </td>
                <td align="right">
                    <img src="images/Capture-logo.PNG"/>
                </td>
            </tr>
        </table>
        {#------------------------------------------------------------------------------------------------------------------------------------------------  #}
        <table style="margin-bottom:30px;" width="100%">
            <tr>
                <td align="left">
                    <h3>Facture n°
                        {{Reservation.id}}
                    </h3>
                    <div>
                        Fait à Strasbourg</div>
                    <div>Le 25/30/2019</div>

                </td>
                <td align="right">
                    <div>{{Reservation.user.civilite}}

                        {{Reservation.user.nom}}
                        {{Reservation.user.prenom}}</div>
                    <div>{{Reservation.user.adresse}}</div>

                    <div>{{Reservation.user.codepostal}}
                        {{Reservation.user.ville}}</div>
                </td>
            </tr>
        </table>

        {# {% if Reservation1 is null %} #}
        {#------------------------------------------------------------------------------------------------------------------------------------------------  #}
        <div class=" " style=" padding-left:0px;">

            <table style="margin-bottom:30px;" width="100%">
                <tr>
                    <td align="center">
                        <table align="center" border-top="0" border="2" class="table table-striped" width="">


                            <thead>
                                <tr align="center">

                                    <th colspan="4">
                                        <h3>Trajet Allez</h3>
                                    </th>
                                </tr>
                            </thead>
                            <thead>
                                <tr align="center">
                                    <th align="center" width="20%">Date</th>
                                    <th>Service</th>
                                    <th align="center" width="10%">Quantité</th>
                                    <th align="center" width="10%">Prix</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr align="center">
                                    <th align="center" rowspan="5">
                                        <b>{{Reservation.dateDepart | date("d/m/y")}}</b>
                                    </th>
                                    <td>Trajet:
                                        {{Reservation.departDestination.depart}}-->{{Reservation.departDestination.destination}}</td>
                                    <td align="center">{{Reservation.nbPassager }}}</td>
                                    <td align="center">{{Trajet}}</td>
                                </tr>
                                <tr align="center">

                                    <td>Horaires à la demande:</td>
                                    <td align="center">1</td>
                                    <td align="center">{{ HorairesALaDemande}}</td>
                                </tr>
                                <tr align="center">

                                    <td>Prise en charge domicile:</td>
                                    <td align="center">1</td>
                                    <td align="center">{{PriseenchargeDomicile}}</td>
                                </tr>
                                <tr align="center">

                                    <td>Trajet de nuit</td>
                                    <td align="center">1</td>
                                    <td align="center">{{TrajetDeNuit}}</td>
                                </tr>
                                <tr align="center">

                                    <td>Reservation dèrnière minute</td>
                                    <td align="center">1</td>
                                    <td align="center">{{DerniereMinute}}</td>
                                </tr>
                                <tr>
                                    <td align="right" colspan="3">
                                        <b>TOTAL HT</b>

                                    </td>


                                    <td align="center">{{Total}}</td>
                                </tr>
                                <tr>
                                    <td align="right" colspan="3">
                                        <b>TOTAL TVA (10%)</b>
                                    </td>


                                    <td align="center">1</td>
                                </tr>
                                <tr>
                                    <td align="right" colspan="3">
                                        <b>TOTAL TTC</b>
                                    </td>


                                    <td align="center">1</td>
                                </tr>

                            </tbody>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td
                        align="center">{# <table align="center" border-top="0" border="2" class="table table-striped" width="100%">
                                                                                                                
                                                                                                                
                                                                                                                                            <thead>
                                                                                                                                                <tr align="center">
                                                                                                                
                                                                                                                                                    <th colspan="4">
                                                                                                                                                        <h3>Trajet retour</h3>
                                                                                                                                                    </th>
                                                                                                                                                </tr>
                                                                                                                                            </thead>
                                                                                                                                            <thead>
                                                                                                                                                <tr align="center">
                                                                                                                                                    <th align="center" width="20%">Date</th>
                                                                                                                                                    <th>Service</th>
                                                                                                                                                    <th align="center" width="10%">Quantité</th>
                                                                                                                                                    <th align="center" width="10%">Prix</th>
                                                                                                                                                </tr>
                                                                                                                                            </thead>
                                                                                                                                            <tbody>
                                                                                                                                                <tr align="center">
                                                                                                                                                    <th align="center" rowspan="5">1</th>
                                                                                                                                                    <td>Trajet:</td>
                                                                                                                                                    <td align="center">{{Reservation.nbPassager }}}</td>
                                                                                                                                                    <td align="center">{{Trajet}}</td>
                                                                                                                                                </tr>
                                                                                                                                                <tr align="center">
                                                                                                                
                                                                                                                                                    <td>Horaires à la demande:</td>
                                                                                                                                                    <td align="center">1</td>
                                                                                                                                                    <td align="center">{{ HorairesALaDemande}}</td>
                                                                                                                                                </tr>
                                                                                                                                                <tr align="center">
                                                                                                                
                                                                                                                                                    <td>Prise en charge domicile:</td>
                                                                                                                                                    <td align="center">1</td>
                                                                                                                                                    <td align="center">{{PriseenchargeDomicile}}</td>
                                                                                                                                                </tr>
                                                                                                                                                <tr align="center">
                                                                                                                
                                                                                                                                                    <td>Trajet de nuit</td>
                                                                                                                                                    <td align="center">1</td>
                                                                                                                                                    <td align="center">{{TrajetDeNuit}}</td>
                                                                                                                                                </tr>
                                                                                                                                                <tr align="center">
                                                                                                                
                                                                                                                                                    <td>Reservation dèrnière minute</td>
                                                                                                                                                    <td align="center">1</td>
                                                                                                                                                    <td align="center">{{DerniereMinute}}</td>
                                                                                                                                                </tr>
                                                                                                                                                <tr>
                                                                                                                                                    <td align="right" colspan="3">
                                                                                                                                                        <b>TOTAL HT</b>
                                                                                                                
                                                                                                                                                    </td>
                                                                                                                
                                                                                                                
                                                                                                                                                    <td align="center">{{Total}}</td>
                                                                                                                                                </tr>
                                                                                                                                                <tr>
                                                                                                                                                    <td align="right" colspan="3">
                                                                                                                                                        <b>TOTAL TVA (10%)</b>
                                                                                                                                                    </td>
                                                                                                                
                                                                                                                
                                                                                                                                                    <td align="center">1</td>
                                                                                                                                                </tr>
                                                                                                                                                <tr>
                                                                                                                                                    <td align="right" colspan="3">
                                                                                                                                                        <b>TOTAL TTC</b>
                                                                                                                                                    </td>
                                                                                                                
                                                                                                                
                                                                                                                                                    <td align="center">1</td>
                                                                                                                                                </tr>
                                                                                                                
                                                                                                                                            </tbody>
                                                                                                                                        </table> #}

                    </td>
                </tr>
            </table>
            {#------------------------------------------------------------------------------------------------------------------------------------------------  #}
            <div class="col-md-12" style=" text-align:right; ">
                <h4>Montant total payer:
                </h4>
            </div>
        </div>
    </body>
    <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>
