<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">

        <title></title>

        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

        <link href="https://bootswatch.com/4/flatly/bootstrap.min.css" rel="stylesheet">

    </head>
    <body style="padding-left:30px; padding-right:30px; ">

        <table style="margin-bottom:30px;" width="100%">
            <tr>
                <td align="left">
                    <div>Alsace navette</div>
                    <div>2, Rue du Coq</div>
                    <div>67000 Strasbourg</div>
                    <div>Tel : 03.88.22.22.71</div>
                    <div>En cas d'urgence : 06.27.18.12.52</div>

                </td>
                <td align="right">
                    <img src="images/Capture-logo.PNG"/>
                    <div>MOBASHER Pacha</div>
                </td>
            </tr>
        </table>
        <div>
            Fiche de mission du
            <b>{{Reservation.dateDepart | date("d/m/y")}}</b>
            <table class="table" style="margin-top:30px;" width="100%">
                <tr>
                    <th>
                        <p>
                            Départ le:
                            {{Reservation.dateDepart | date("d/m/y")}}
                            à
                            <b>{{Reservation.horraire}}</b>
                        </p>
                        <p>Trajat de:
                            {{Reservation.departDestination.depart}}
                            à
                            {{Reservation.departDestination.destination}}
                        </p>
                        <p>
                            Nombre de passagers :
                            {{Reservation.nbPassager}}
                        </p>

                        <p>Vehicule:
                            <b>
                                {{Vehicule}}</b>

                        </p>
                    </th>

                </tr>
                <tr>
                    <th>Client</th>
                    <td>
                        {{Reservation.user.civilite}}
                        {{Reservation.user.nom}}
                        {{Reservation.user.prenom}}
                    </td>

                </tr>
                <tr>
                    <th>Point de Rassemblement</th>
                    <td>
                        {% if Reservation.pointDePrise == "Domicile" %}
                            <p>
                                <b>{{Reservation.pointDePrise}}</b>
                            </p>

                            <p>
                                Adresse:
                                <b>{{Reservation.adresse}}</b>
                            </p>
                            <p></p>
                            <p>
                                Code postal:
                                <b>{{Reservation.codepostal}}</b>

                            </p>
                            <p></p>
                            <p>
                                Ville:
                                <b>{{Reservation.Ville}}</b>
                            </p>
                            <p></p>
                        {% else %}
                            <p>

                                <b>{{Reservation.pointDePrise}}</b>
                            </p>

                        {% endif %}
                    </td>

                </tr>
                <tr>
                    <th>Commentaire</th>
                    <td>{{Reservation.Commentaire}}</td>

                </tr>
                <tr>
                    <th>Vol</th>
                    <td>Oui</td>

                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{Total}}</td>

                </tr>

            </table>

        </body>
        <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
